body {
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


label{
    margin: 7px;   
}

.inputs {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#square {
    display: flex;
    width: 30rem;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid black;
}

#textarea {
    text-align: center;
    width: 29rem;
    border: 1px solid green;
    resize: none;
    padding: 20px;
    font-size: 13px;
}

#result {
    margin-bottom: 20px;
}